

<mat-card>
  <mat-card-content>
    <div class="header">
      <P style="font-size:30px ;">Login Form</P>
     </div> 
    <form (ngSubmit)="onLogin()" name="loginForm" [formGroup]="loginForm">
      <div class="emailInput"> 
        <mat-form-field class="full-width" appearance="outline">
          <p>Enter Email</p>
          <mat-icon>person</mat-icon>
          <input matInput
            formControlName="email"  required/>
          <mat-error *ngIf="loginForm.email.errors.required">
              Email is required
            </mat-error>
        </mat-form-field>
       </div> 

      <div> 
        <span>
          <a class="text-link" class="aLink" routerLink="/auth/forgot-password">Forgot Password?</a>
        </span>
        <mat-form-field class="full-width" appearance="outline">
          <p>Enter Password</p>
          <span class="material-icons">lock</span>
          <input matInput  [type]="showPassword ? 'text' : 'password'"  >
           <mat-icon matSuffix (click)="togglePasswordVisibility()">
            {{showPassword?'visibility_off':'visibility'}}
          </mat-icon>
          
      <mat-error *ngIf="!loginForm.controls['password'].valid">
          Password is required
        </mat-error>
      </mat-form-field>
     </div>  
     <button style="width: 100px; color:white; background-color:darkcyan; font-size:20px">Login</button>  
     </form>

    </mat-card-content>
</mat-card> 
